* {
	font-family: "Noto Sans JP", sans-serif;
}

h1 {
	text-align: center;
}

.line1 {
	color: black;
}

.line2 {
	color: white;
}

/* .weekendNext {
	color: #ec3d66;
}

.daysRemaining {
	color: #8a42dd;
}

.hoursRemaining {
	color: #af445f;
}

.minutesRemaining {
	color: #da42ca;
}

.secondsRemaining {
	color: #491658;
} */

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
